/* 작성자: 은석 */

.top-bottom-line {
    /* 위아래 줄긋기 */
    border-top: 3px solid darkolivegreen;
    border-bottom: 3px solid darkolivegreen;
}

.standard-width {
    /* 메뉴바 크기 반영 */
    width: 1024px;
}

/* 컨텐츠 가운데정렬 */
.centralise {
    margin: 0 auto;
}

/* 문의/신고 내역 목록 테이블용 */
.report-table {
    text-align: center;
    /*border: 2px solid darkolivegreen;*/
    border-collapse: collapse;
}

.report-table td {
    border-bottom: 2px solid darkolivegreen;
    border-top: 2px solid darkolivegreen;
    padding: 10px 0;
    font-size: 20px;
}

.report-table th {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 25px;
}

.report-table tr {
    border-right: 2px solid darkolivegreen;
    border-left: 2px solid darkolivegreen;
}

.report-table tr:first-of-type td, .report-table tr:nth-of-type(1), .report-table tr:nth-of-type(2) {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

/* 마이페이지 카테고리 세부항목 */
.my-page-subcategory {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 22px;
    /*font-weight: bold;*/
}

.my-page-subcategory td {
    padding-right: 20px;
}

/* 마이페이지 카테고리 세부항목 선택표시 */
.green {
    color: darkolivegreen;
}

/*리뷰 작성·조회시 강의목록에 적용 */
.write-list {
}

.write-list-main {
    background-color: lightgray;
    width: 800px;
    height: 160px;
}

.write-list td:first-of-type {
    background-color: unset;
    width: 50px;
}

.write-list-contents {
    margin: 20px;
}

.write-list-contents td:first-of-type {
    width: 200px;
    padding-right: 20px;
}


.write-list-contents td:nth-of-type(2) {
    width: 569px;
}

.write-list-contents td:nth-of-type(3) {
    width: 120px;
    padding-left: 20px;
}

.review-list-contents {
    margin: 20px;

}

.review-list-contents td:first-of-type {
    width: 200px;
    padding-right: 20px;
}

.review-list-contents tr:first-of-type td:nth-of-type(2) {
    width: 500px;
    padding-bottom: 20px;
}

.review-star {
    text-align: center;
    vertical-align: top;
    font-size: 30px;
    color: gray;
}

.starred {
    color: orange;
}

.review-modal-stars {
    text-align: center;
    font-size: 60px;
    color: gray;
}

/*별점을 매겨주세요*/
.review-modal-star-text {
    text-align: center;
}

.review-modal-content {
    border-top: 1px solid darkolivegreen;
    border-bottom: 1px solid darkolivegreen;
    min-height: 100px !important;
}

/*신고페이지 상세정보 모달 내용*/
.report-table-modal {
    padding: 10px;
}

.report-table-modal td:first-of-type {
    width: 20%;
}

.report-table-modal td:nth-of-type(2) {
    width: 80%;
}

.write-review-btn {
    border: mediumpurple solid 1px;
    border-radius: 5px;
    float: contour;
    margin: 1px 10px;
    width: 140px;
    height: 30px;
    color: white;
    background-color: mediumpurple;
}


.do-hyun-font {
    font-family: 'Do Hyeon', sans-serif;
}

.zCool {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.do-hyun-font td {
    text-align: center;
}

.selected {
    color: darkolivegreen;
    text-align: center;
}

.float-left {
    text-align: left;
    float: left;
}

/* 방 목록 카드식으로 보이게끔 지원 */
.room-card {
    border: 2px solid green;
    width: 250px;
    height: 300px;
    margin: 30px 40px;
    float: left;
}

/* 방카드 제목(장소이름) */
.room-card-title {
    font-weight: bolder;
    font-size: 24px;
}

/* 방카드 내용 */
.room-card-content {
    font-weight: bold;
    font-size: 20px;
}

/* 방카드 태그 */
.room-card-tag {
    border: darkolivegreen solid 1px;
    border-radius: 5px;
    float: left;
    padding: 1px 5px;
    margin-right: 10px;
    color: white;
    background-color: darkolivegreen;
}

.report-modal-category {
    text-align: right;
    /*font-size: 20px;*/
    /*font-weight: bold;*/
    padding: 10px 0;
}

.report-modal-date {
    text-align: right;
    padding-bottom: 10px;
}

.report-modal-content {
    border: 1px solid darkolivegreen;
    min-height: 100px !important;
}

/* 신고항목 안에 카테고리 항목 */
.report-modal-content-category tr > td:first-child {
    font-weight: bold;
}

.report-modal-end {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: olive;
    padding: 15px 0;
}

.report-modal-footer {
    border-top: none !important;
}

/* 글 간 경계선 */
.report-modal-line {
    border-top: 1px solid darkolivegreen;
    margin-top: 10px;
    height: 20px;
    clear: both;
}

/* 문의사항 modal 내 제목 */
.report-modal-title {
    font-weight: bold;
    font-size: 23px;
    /*text-align: center;*/
    color: olive;
    /*padding: 10px 0;*/
}

/* 스터디룸 정보  */
.room-info-summary th {
    text-align: right;
}

.room-info-summary td {
    text-align: left;
}

.admin-table {
    border-collapse: collapse;

}

.admin-table td {
    border: 1px solid black;
}

.tablecenter2 {
}

/*신고문의 게시판에 조회버튼*/
.inquery-btn {

}

/* w3school 에 페이징 참고 */
.paging {
    display: inline-block;
}

.paging > a {
    margin: auto;
}

.paging a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.paging a.active {
    background-color: #4CAF50;
    color: white;
}

/* 사용자 공간대여목록 조회페이지에만 약간 안맞아서 조정하기 위함 */
#category{
    margin-top: 14px !important;
}
