/* 작성자: 은석 */

.top-bottom-line {
    /* 위아래 줄긋기 */
    border-top: 3px solid darkolivegreen;
    border-bottom: 3px solid darkolivegreen;
}

.standard-width {
    /* 메뉴바 크기 반영 */
    width: 1024px;
}

/* 컨텐츠 가운데정렬 */
.centralise {
    margin: 0 auto;
}

/* 문의/신고 내역 목록 테이블용 */
.report-table {
    text-align: center;
    /*border: 2px solid darkolivegreen;*/
    border-collapse: collapse;
}

.report-table td {
    border-bottom: 2px solid darkolivegreen;
    border-top: 2px solid darkolivegreen;
    padding: 10px 0;
    font-size: 20px;
}

.report-table th {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 25px;
}

.report-table tr {
    border-right: 2px solid darkolivegreen;
    border-left: 2px solid darkolivegreen;
}

.report-table tr:first-of-type td, .report-table tr:nth-of-type(1), .report-table tr:nth-of-type(2) {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.do-hyun-font {
    font-family: 'Do Hyeon', sans-serif;
}

.do-hyun-font td {
    text-align: center;
}

.selected {
    color: darkolivegreen;
    text-align: center;
}

.float-left {
    text-align: left;
    float: left;
}

/* 방 목록 카드식으로 보이게끔 지원 */
.room-card {
    border: 2px solid green;
    width: 250px;
    height: 300px;
    margin: 30px 40px;
    float: left;
}

/* 방카드 제목(장소이름) */
.room-card-title {
    font-weight: bolder;
    font-size: 24px;
}

/* 방카드 내용 */
.room-card-content {
    font-weight: bold;
    font-size: 20px;
}

/* 방카드 태그 */
.room-card-tag {
    border: darkolivegreen solid 1px;
    border-radius: 5px;
    float: left;
    padding: 1px 5px;
    margin-right: 10px;
    color: white;
    background-color: darkolivegreen;
}

/* 문의사항 modal 내 제목 */
.report-modal-title {
    font-size: 20px;
    text-align: center;
    color: olive;
    padding: 15px 0;
}

.report-modal-end {
    font-size: 20px;
    text-align: center;
    color: olive;
    padding: 15px 0;
}

.report-modal-content {
    border: 1px solid darkolivegreen;
    height: 100px;
}

/* 글 간 경계선 */
.report-modal-line {
    border-top: 1px solid darkolivegreen;
    margin-top: 10px;
    height: 20px;
    clear: both;
}

/* 스터디룸 정보  */
.room-info-summary th {
    text-align: right;
}

.room-info-summary td {
    text-align: left;
}


/* w3school 에 페이징 참고 */
.paging {
    display: inline-block;
}

.paging > a {
    margin: auto;
}

.paging a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.paging a.active {
    background-color: #4CAF50;
    color: white;
}